api.evetrivia.com {
    gzip
    tls shadowdf@gmail.com

    proxy /en-topic-settings/external http://en-topic-settings/ {
        proxy_header X-Forwarded-Proto {scheme}
        proxy_header X-Forwarded-For {host}
        proxy_header Host {host}
        without /en-topic-settings
    }
    
    proxy /en-notifications/external http://en-notifications:8000/ {
        proxy_header X-Forwarded-Proto {scheme}
        proxy_header X-Forwarded-For {host}
        proxy_header Host {host}
        without /en-notifications
    }
    
    proxy /en-test/external http://en-test:8000/ {
        proxy_header X-Forwarded-Proto {scheme}
        proxy_header X-Forwarded-For {host}
        proxy_header Host {host}
        without /en-test
    }

    header / {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Headers "X-Requested-With,Authorization,User-Agent"
        Access-Control-Allow-Methods "GET, HEAD, POST, PUT, OPTIONS"
    }
}