http://api.evetrivia.com https://api.evetrivia.com {
    gzip
    tls shadowdf@gmail.com

    proxy /en-topic-settings/external http://en-topic-settings:80/external {
        proxy_header X-Forwarded-Proto {scheme}
        proxy_header X-Forwarded-For {host}
        proxy_header Host {host}
    }

    header / {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Headers "X-Requested-With,Authorization,User-Agent"
        Access-Control-Allow-Methods "GET, HEAD, POST, PUT, OPTIONS"
    }
}